.idea
gradle
gradlew
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.gitattributes
build.gradle.kts
gradlew.bat
settings.gradle.kts
.kotlintest